<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Название лиги</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="team">Команды</a>
      <a class="nav-item nav-link">Игроки</a>
      <a class="nav-item nav-link" routerLink="position">Позиции</a>
      <a class="nav-item nav-link">Роли</a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
